.swiper {
  max-width: 67.5rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

.swiper-slide {
  flex-shrink: 0;
  height: 100%;
  text-align: center;
  font-size: 18px;
  background: #fff;
  border: 2px solid #212c92;
  border-radius: 30px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide > h3 {
  font-size: 20px;
  line-height: 23px;
  height: 46px;
  color: #000551;
  font-weight: 600;
  font-family: 'welcome', Sans-serif;
  display: -webkit-box;
  overflow: hidden;
  word-break: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.swiper-slide > p {
  font-size: 17px;
  line-height: 25px;
  height: 48px;
  font-weight: 400;
  color: #31356d;
  display: -webkit-box;
  overflow: hidden;
  word-break: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.swiper-slide > span {
  font-size: 15px;
  line-height: 23px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#previousButton {
  width: 40px;
  height: 40px;
  background: #000;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
#nextButton {
  width: 40px;
  height: 40px;
  background: blue;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
